################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/repos/AnythingYouDontNeed/AnythingYouDontNeed.Website/AnythingYouDontNeed.Website.csproj
