@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="type_youNeed" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Type What You Are Looking For!</h1>
    <p> <iframe width="560" height="315" src="https://www.youtube.com/embed/9BMwcO6_hyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
</div>
